<div class="favorites-list">
    <div class="header">
        <h2>Favorite Recipes</h2>
        </div>
    <ul>
        <li *ngFor="let favorite of favorites" class="favorite-item">
            <div class="favorite-card">
                <img [src]="favorite.recipeImage" [alt]="favorite.recipeName" class="favorite-img" />
                <div class="favorite-details">
                    <h3>{{ favorite.recipeName }}</h3>
                    <a [href]="favorite.recipeUrl" target="_blank" class="view-recipe-link">View Recipe</a>
                </div>
                <button *ngIf="favorite.favoriteId" class="btn btn-danger ms-2"
                    (click)="deleteFavorite(favorite.favoriteId)">Remove from Favorites</button>
                <!-- use of *ngIf due to favoriteId being an optional property - button only displayed if favoriteId exists -->
            </div>
        </li>
    </ul>
</div>