<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="greeting-section">
      <h1>Welcome, {{username}}! 👋</h1>
      <h3>Ready to cook up something delicious today?</h3>
      <p>Today's Date: {{ today | date:'fullDate' }}</p>
    </div>

    <div class="pantry-summary">
      <h5>Pantry Summary</h5>
      <ul>
        <li>Total Pantry Items: {{ pantryItemCount }}</li>
      </ul>

      <h5>Expiring Soon ⚠️</h5>
      <ul *ngIf="expiringSoonItems.length > 0; else noExpiring">
        <li *ngFor="let item of expiringSoonItems">
          {{ item.itemName }}:
          <span class="badgeDisplay">
            <span *ngIf="getItemBadge(item.expirationDate) as badge" class="badge rounded-pill px-3 py-2 me-2"
            [ngClass]="[
              badge.class, badge.class.includes('danger') ? 'flash-red' : '',
              badge.class.includes('warning') ? 'pulse-yellow' : '']">
  
            <small class="d-block fst-italic fw-semibold text-muted mt-1">
              {{ badge.emoji }} <span class="text-light">{{ badge.text }}</span>
            </small>
          </span>
          </span>

        </li>
      </ul>
      <ng-template #noExpiring>
        <p>No items expiring within the next 3 days!</p>
      </ng-template>
    </div>

    <div class="challenges-box">
      <h3>Empty the Pantry Challenge Stats:</h3>
      <!-- Challenge stats stuff here -->
    </div>
  </div>
</div>