/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --bg-cream: #FDFAF4;
  --text-green: #2E5C34;
  --card-border: #E2E2E2;
  --btn-green: #2E5C34;
  --btn-cream: #E6EEDF;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-cream);
  color: var(--text-green);
  padding: 2rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--text-green);
}
button {
  border: none;
  border-radius: 999px;
  padding: 0.4rem 1rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
}
.edit-btn {
  background-color: var(--btn-green);
  color: white;
}
.delete-btn {
  background-color: white;
  color: var(--btn-green);
  border: 2px solid var(--btn-green);
}
.form-check-input {
  transform: scale(1.2);
  margin-right: 0.5rem;
}
/* Modal Styling */
.modal-content {
  border-radius: 1
}




