<nav *ngIf="showNavbar && isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark px-3 custom-navbar">
  <div class="container-fluid justify-content-between">
    <div class="mx-auto text-center navbar-brand-center">
      <a class="navbar-brand" routerLink="/dashboard">🥫 PantryPal</a>
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pantry">Your Pantry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes/search">Recipe Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorites">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item d-flex align-items-center ms-3">
        <button class="btn btn-outline-light btn-sm rounded-pill px-3" (click)="logout()"> Logout</button>
      </li>
    </ul>
  </div>
</nav>
  
  
  <router-outlet></router-outlet>